annotated-types==0.7.0
asgiref==3.8.1
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
httplib2==0.22.0
idna==3.10
joblib==1.4.2
nltk==3.9.1
proto-plus==1.25.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.5
pydantic_core==2.27.2
pyparsing==3.2.1
PyPDF2==3.0.1
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
rsa==4.9
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
drf-spectacular
drf-spectacular-sidecar
PyJWT>=2.9.0
youtube-transcript-api==1.2.2
yt-dlp==2025.8.20
celery==5.3.6
redis==5.0.3
pytest==8.3.3
pytest-django==4.9.0
coverage==7.6.9
pytest-cov==5.0.0